@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500&family=Kanit:wght@100;300;400;500;600;800&display=swap');

:root{
    --cor-primaria: #002255;
    --cor-secundaria: #ffff00;
    --cor-tercearia: #5aa02c;
}

*{
    margin: 0;
    padding: 0;
}

footer{
    background-color: #002255;
}

header{
    background-color: #fff;
}

body{
    background-color: #e0e0e0;
}

/*Id´s*/
#cidade, #temp, #msg{
    font-family: 'Kanit', sans-serif;
}

#sensacaoTermica, #maxMin{
    font-family: 'Barlow Condensed', sans-serif;
}

#cidade{
    color: var(--cor-tercearia);
}

#temp{
    color: var(--cor-primaria);
}

/*Classes*/
.logoHeader{
    height: 90px;
    margin-right: 70%;
}

.iconHeader{
    color: var(--cor-primaria);
}

.iconNav{
    color: #fff;
}

.navBar{
    background-color: var(--cor-primaria);
}

.navContent{
    padding-left: 24%;
}

.imgCarrossel{
    height: 65%;
    width: 100%;
}

.tituloSlide{
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 100px;
    color: var(--cor-secundaria);
}

.paragrafoSlide{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 25px;
}

.textoSlide{
    margin-bottom: 10%;
    color: var(--cor-secundaria);
}

.iconFooter{
    color: #fff;
}

.informacoesFooter{
    background-color: var(--cor-secundaria);
    height: 30px;
}

.textoFooter{
    color: var(--cor-primaria);
    font-family: 'Kanit', sans-serif;
}

.imgProdutos{
    height: auto;
    border-radius: 10px;
}

.imgNoticia{
    height: auto;
    border-radius: 10px;
    height: 30%; 
    width: 100%;
}

.tituloProdutos{
    font-family: 'Kanit', sans-serif;
}

.descricaoProdutos{
    font-family: 'Barlow Condensed', sans-serif;
}

.botaoProdutos, .botaoNoticias{
    font-family: 'Kanit', sans-serif;
    border-top: 1px solid var(--cor-tercearia);
    font-weight: 500;
    color: var(--cor-tercearia);
}

.cardProdutos{
    border-radius: 10px;
    box-shadow: 24px 24px 49px #bebebe,
             -24px -24px 49px #ffffff;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-left: 5%;
    height: 530px;
}

.cardNoticias{
    border-radius: 10px;
    box-shadow: 24px 24px 49px #bebebe,
             -24px -24px 49px #ffffff;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-left: 5%;
    width: 30%;
    height: 450px;  
}

.containerTempo{
    border-radius: 10px;
    box-shadow: 24px 24px 49px #bebebe,
             -24px -24px 49px #ffffff;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-top: 5%;    
}

.tituloLinha, .tituloNoticias, .tituloNoticia, .botaoNoticias{
    font-family: 'Kanit', sans-serif;
}

.grifarTexto{
    color: var(--cor-tercearia);
}